<div ng-controller="detalhesController">
    <div class="title">
        <h1 class="text-center">Monitoramento da Integração</h1>
        <h2 class="text-center">Servidor: {{fila.hostName}}</h2>
        <h4 class="text-center">{{fila.nome + ' - ' + fila.tamanho + ' Erros'}}</h4>
        <h3 style="text-align:right">Horário: {{horario | date:'HH:mm:ss'}}</h3>
    </div>
    <fildset>
        <legend style="margin-bottom:0px"></legend>
    </fildset>
    <form id="home-form" validatable class="form-horizontal">
        <div class="row">
            <div class="col-sm-12 page-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover row-border hover" style="margin-top:15px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center !important;font-size:18px;width:600px">Entidade</th>
                                        <th style="text-align: center !important;font-size:18px;">Exceção</th>
                                        <th style="text-align: center !important;font-size:18px;">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in fila.erros" style="height:50% !important;">
                                        <td>
                                            <pre>{{item.Entity | json}}</pre>
                                        </td>
                                        <td>
                                            <span title="{{item.nome}}">
                                                {{item.Error}}
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" ng-click="excluir(item)">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">Tempo da requisição: {{requisicao}} ms</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <button ng-click="voltar()" class="btn btn-default btn-info" type="submit">Voltar</button>
            </div>
        </div>
    </form>
</div>